 
body {
  display: flex;
  flex-direction: column; 
  align-content: center;
  background-color: #424B54;
  color: #EBCFB2;
  font-size: 16px;
  font-family: "Lato", sans-serif;
 }


header, nav, main, footer {
  margin: 1.25rem auto;
  max-width: 760px;
  padding: 1px;
}

  header {
  background-color: #C5BAAF;
  color: #424B54;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: .4em; */
}
.hero-image {
  background-image: url(../images/headingcityhalllg760.jpg);
  background-repeat: no-repeat;
  width: 412px;  
  position: relative; 
  background-size: cover; 
}

header img {
  width: 50px;
  height: auto;
  padding-top: 1%;
  padding-right: 10px;
  padding-left: 5px;
}

 .headtext {
  position: absolute; 
  top: 1%;
  left: 20%;
} 

.headtext h1 {
  font-size: 1.3em;
  font-family: "Lobster", cursive;
}

.motto h2 {
  font-size: 1em;
  padding-top: 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  color: white; 
  font-family: "Lato" , sans-serif;
  font-size: 1.5rem;
}

/* nav code */
.clearfix {
  margin-left: 0;
}

.clearfix nav button {
  margin: .2rem 2%; 
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
}

/* nav {
    text-align: center;
  } */

nav ul {
  background-color: #EBCFB2;
  color: #424B54;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;  
}

 nav ul li {
  padding: 0px;
  flex: 1 1 auto; 
} 

nav ul li a {
  display: block;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: bold;
}
 .active {
  background-color: #B38D97; 
  color: #424B54;  
}

.active a:hover {
  background-color:  #C5BAAF;  
  color: #424B54;
}
nav a:hover {
  background-color: #D5ACA9;
  color: #424B54; 
  align-items: stretch; 
}
nav ul.hide {display: none;} 


.clearfix:after {
  /* force an element not to collapse or lose color */
  content: "";
  display: table;
  clear: both;
}
main {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 10fr;

}




#bannerdiv {
  grid-area: 1 / 1 / 2 / 4;
 
 
 #alerts {
 background-color: red;
 color: white;
} 

 #weatherclear {
  padding: 0 10px;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 3px;}
  float: right; 
 }





.closebtn:hover {
 color: black;
} 




div.threeday {
  grid-area: 1 / 4 / 2 / 6;
  background-color: white;
  border: 2px solid black;
}




.introduction {
  grid-area: 2 / 1 / 3 / 6;
  grid-gap: 4px;
}


.introduction a:visited, a:hover, 
.ads a:visited, a:hover {    color: #D5ACA9;   }
a:active {  color: #B38D97; }


section.ads, section.history {
  grid-area: 3 / 1 / 6 / 6;
}
div.totalimage, .stylebyhanny, .civiccenter {
  border: 2px solid white;
  /* max-width: 800px; */
  padding: 7px;
}

.events {
  grid-area: 6 / 1 / 7 / 6;
}

.weather {
  grid-area: 7 / 1 / 8 / 6;
  background-color: #D5ACA9; 
  color: #424B54;
  padding: 5px;
}



table, th, td {
  border: 1px solid black;
}

section.history {
  grid-area: 1 / 1 / 8 / 6;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 2%;
}
.history img {
  max-width: 725px;
  padding: 5px;
}

#membership {
  grid-area:  1 / 1 / 7 / 6;
  background-color: #C5BAAF;
  color: #424B54;
}


div.members section {
  background-color: #d3bea8;
  color: #424B54;
  border: 3px solid #B38D97;
  box-shadow: 5px 5px #B38D97;
  grid-gap: .75rem;
  margin-bottom: 25px;
}


/* footer */

footer {
  background-color: #C5BAAF; 
  color: #424B54;
  font-size: 12px;
  /* text-align: center; */
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
}
