/* medium css */
/* 35em is also 560px when basefont is 16ps */
@media only screen and (min-width: 35em) {
 

    /* 64em is also 1028px when basefont is 16px */
  
  .hero {
      margin-left: auto;
      margin-right: auto;
      
    }
}
  
 
 
  

    /*----------- BODY --------------*/
    
    
    
    /*----------- HEADER --------------*/
    
    
    
    /*----------- NAVIGATION --------------*/
        /* nav ul {margin-left: 2%;} */
        /* nav ul li {width: auto;} */
    
        /* nav ul li a{padding: .5rem 1rem;} */
    
       
  
