body {
    display: block;
    background-color: #ebebd3ff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
 }
     
header, nav, main, footer  {
  margin: 1.25rem auto;
  max-width: 760px;
  }

header { 
    background-color: #083d77ff;
    color: #ebebd3ff;
    font-family: "Mountains of Christmas", cursive;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

 header img {
    width: 80px;
    height: auto;
}

nav button {
  margin: .2rem 2%; 
  background-color: transparent; 
  border: none;
  font-size: 1.6rem;
  color: #083d77ff;
}
nav {
  background-color: #f4d35e;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
nav ul { /* removes dots, moves text left and up */
  list-style-type: none; 
    padding: 0;
    margin: 0;
 } 
nav ul li a { /* to make clickable, spread out */
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
/*   removes underlining */
  color: #083d77ff;
  border-top: 1px solid black;
}

nav ul li.active a {
      background-color: #f95738ff;
      color: #ebebd3ff;
}

nav ul li a:hover {
  background-color: #ee964bff;
 
 }
nav ul.hide {display: none;}

.clearfix:after { /* force an element not to collapse or lose color */
  content: "";
  display: table;
  clear: both;
}
h2 {
  font-family: "Mountains of Christmas", cursive;  
   font-size: 3rem;
  color: #083d77ff;
   text-align: center; 

}


/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/* FORM */
fieldset {
  background-color: #f4d35e;
}

form fieldset {
    margin: 2rem 0;
    background-color: #f4d35e;
    border: 1px solid #083d77ff;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0 1rem 0;
    padding: 0 .5rem;
}
#yourinfogrid {
   display: grid;
   grid-template-rows: 44px 1fr 1fr 1fr;;
   grid-template-columns:  20% auto;
   grid-gap: 15px;
   list-style-type: none;
}

input {
  font-size: 20px;
  padding: 7px;
}

/* form label.top, form div { */
form#yourinfogrid, label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size:  1.2rem;
    font-weight: bold;
}


form label.sbs {
    display: block;
    padding: .75rem 2px;
    color: #555;
}


h3.warning {
  background-color: white;
  color: #f95738ff; 
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3px;
}

form input.submitBtn {
    border: none;
    background-color: #083d77ff;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin: 5px 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    height: 100px;;
}

/* form label.top input:required { */
input:required {
    border-left: red solid 6px;
}

/* form label.top input:required:valid { */
 input:required:valid {
    border-left: green solid 6px;
    /* changes validation to green if entered required field */
}

#cid_3 {
  width: 90%;
  height: 150px;
 
}



footer {
	background-color: #f4d35e;
	color: #083d77ff;
	padding: 5px;
	text-align: center;
  
	}









