body {
    display: block;
    background-color: #ebebd3ff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
 }
     
header, nav, main, footer {
  margin: 1.25rem auto;
  max-width: 760px;
  }

header { 
    background-color: #083d77ff;
    color: #ebebd3ff;
    font-family: "Mountains of Christmas", cursive;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#bannerdiv {
  background-color: #f95738ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  border: 3px solid #f4d35e;
  margin-top: -3px;
 }
  /* width: 100%  */
  /* border: 3px solid #f4d35e; */

 header img {
    width: 80px;
    height: auto;
}

nav button {
  margin: .2rem 2%;
  background-color: transparent; 
  border: none;
  font-size: 1.6rem;
  color: #083d77ff;
}
nav {
  background-color: #f4d35e;
  font-family: Montserrat, sans-serif;
}
nav ul { /* removes dots, moves text left and up */
  list-style-type: none; 
    padding: 0;
    margin: 0;
 } 
nav ul li a { /* to make clickable, spread out */
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
/*   removes underlining */
  color: #083d77ff;
  border-top: 1px solid black;
}

nav ul li.active a {
      background-color: #f95738ff;
      color: #ebebd3ff;
}

nav ul li a:hover {
  background-color: #ee964bff;
 }
nav ul.hide {display: none;}

.clearfix:after { /* force an element not to collapse or lose color */
  content: "";
  display: table;
  clear: both;
}
h2 {
  font-family: "Mountains of Christmas", cursive;  
  color: #083d77ff;
}

.contentbox {
    background-color: #083d77ff;
    color: #ebebd3ff; 
    display: block;
    margin: 10px;
    border: 1px solid black;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}
.herodiv {
  /* margin: 10px auto; */
  position: relative;
  /* border: 1px dashed cyan;
  width: 960px;
  height: 300px; */
}

.hero {
  margin: 10px auto;
  /* background-color: #eee;
  border: 1px solid #333;
  width: 100%;
  height: 250px; */
}
.weathersummary {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #ee964bff;
  border: 1px solid green;
  padding: .5rem;
  box-shadow: 0 0 50px #777;
}

footer {
  background-color: #f4d35e;
  color: #083d77ff;
  padding: 5px;
  }

.smallbox {
  display: grid;
  grid-template-columns: 1fr auto;
  
  }
  .fav {
    grid-area: 1 / 1 / 5 / 2 ;
  }


  .bigbox {
    display: flex;
    justify-content: center;
  }