/* medium css */
/* 35em is also 560px when basefont is 16ps */
@media only screen and (min-width: 35em) {
 

    /* 64em is also 1028px when basefont is 16px */
    .weathersummary {
      position: absolute;
      height: 90%;
    }
    .hero img {
      /* margin: 1.25rem auto; */
      max-width: 560px;
      }


      
      #photoGallery {
        grid-template-columns: 1fr 1fr;
      }
      figure.pg img {
        max-width: 300px;
      }

    section.card section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px; 
      padding-top: 20px;
      align-items: center;
      
  }
    section.card section:nth-child(odd) img {
      grid-area: 1 / 2 / 2 / 3;

  } 
  section.card section:nth-child(even) img {
      grid-area: 1 / 1 / 2 / 2;
      padding-left: 50px;

  }   
  section.card section:nth-child(even) infodata {
         padding-left: 50px;
  }
    
  
  table {
    display: table;
    width: 100%;
  }
  }