body{
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    margin-right: auto;
  
}
header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 1430px;
    }

header {
        background-color: #008080;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        max-width: 1430px;
        /* padding: 1.5rem;   */
   }

section {
    background-color: #F0FFFF;
    border-style: solid;
    border-radius: 16px;
    max-width: 375px;
    padding: 10px;
    /* margin-right: auto; */
    /* margin: auto; */
    display: block;
    }
    
/* .visual {
    border-radius: 16px;
}

.thirds {
    border-radius: 16px;
}

.white {
    border-radius: 16px;
} */

h3 {
    background-color: #008080;
    color: white;

}
h4 {
   line-height: 1rem;
 }
main {
    display: grid;
    /* grid-template-columns: minmax(); */
    grid-template-columns: 1fr;
    row-gap: 5rem;
 }



